In [1]:
import sys
from pathlib import Path

# Add project root to Python path (needed for notebooks)
project_root = Path(__file__).parent.parent if '__file__' in globals() else Path.cwd().parent
sys.path.insert(0, str(project_root))

import pandas as pd
from typing import Dict, Any, List, Tuple
from multiprocessing import Pool

from src.motzkin_greedy import optimize_motzkin_greedy
from src.smooth_walk_greedy import optimize_smooth_walk_greedy
from src.utils import P_from_d_prefix, parse_seed_list
from src.ssd_check import is_distinct_subset_sum_optimized
from src.sequence_analysis import generate_ssd_df, compare_and_save

2025-11-24 16:27:15,529 - Loaded cache with 16 entries from data/.ssd_cache.pkl

In [ ]:
d_seed = [2, 1, 1, 4, 17, 11, 11]
max_n = 30
compare_and_save(d_seed, max_n, optimizer=optimize_motzkin_greedy)

âœ“ Condition met! Saved to data/special_seeds/seed_2_1_1_4_17_11_11_n32.csv

    SSD          d           P    delta
0     1          2           2        1
1     1          1           3        1
2     1          1           4        0
3     1          4           8        1
4     1         17          25       12
5     1         11          36       12
6     1         11          47        3
7     1         44          91        7
8     1         83         174       13
9     1        155         329       20
10    1        293         622       28
11    1        586        1208       44
12    1       1117        2325       41
13    1       2234        4559       75
14    1       4385        8944      137
15    1       8615       17559      254
16    1      16937       34496      195
17    1      33288       67784     -224
18    1      67162      134946       94
19    1     132621      267567      147
20    1     263008      530575      219
21    1     521631     1052206      301
22    1    1034647     2086853    -8150
23    1    2069294     4156147   -16554
24    1    4121651     8277798   -33303
25    1    8210014    16487812   -66382
26    1   16352866    32840678  -132858
27    1   32573111    65413789  -265863
28    1   64883214   130297003  -531945
29    1  129244797   259541800 -1585740
30    1  258489594   518031394 -3171781
31    1  515944541  1033975935 -6335412

:

In [ ]:
optimize_motzkin_greedy(35,[8, 2, 1, 1, 4, 16, 65, 43, 43])

[4,
 2,
 1,
 5,
 8,
 16,
 24,
 48,
 88,
 160,
 320,
 616,
 1184,
 2280,
 4560,
 8960,
 17600,
 34584,
 67984,
 135968,
 269656,
 534752,
 1060544,
 2103488,
 4172392,
 8344784,
 16621584,
 33107200,
 65944744,
 131354736,
 261648928,
 521194368,
 1042388736,
 2080605080,
 4152865376]

In [22]:
optimize_motzkin_greedy(35,[1,1])

[1,
 1,
 2,
 3,
 6,
 11,
 20,
 40,
 77,
 148,
 285,
 570,
 1120,
 2200,
 4323,
 8498,
 16996,
 33707,
 66844,
 132568,
 262936,
 521549,
 1043098,
 2077698,
 4138400,
 8243093,
 16419342,
 32706116,
 65149296,
 130298592,
 260075635,
 519108172,
 1036138646,
 2068138892,
 4128034691]